%h1 Listing employees

%table
  %tr
    %th Name
    %th Designation
    %th
    %th
    %th

  - @employees.each do |employee|
    %tr
      %td= employee.name
      %td= employee.designation
      %td= link_to 'Show', employee
      %td= link_to 'Edit', edit_employee_path(employee)
      %td= link_to 'Destroy', employee, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Employee', new_employee_path
= link_to 'Log Out', destroy_user_session_path, :method => :delete
